<h1>Welcome</h1>
<% unless logged_in? %>
  <%= button_to "Login", '/login', method: :get%>
  <%= button_to "Sign Up", '/users/new', method: :get%>
<% end %>

<% if logged_in? %>
  <%= button_to "Logout", logout_path, method: :get%>
<% end %>